[2019-06-27 14:38] ChadOhman opened #2 "Support for arm64/v8 (aarch64)"
Any plans to build this for Pi 3B+?

`docker: no matching manifest for linux/arm64/v8 in the manifest list entries.`

[code]

[2019-06-28 04:39] mikenye commented on #2
I don't currently own a Pi 3B+, but I suppose I could purchase one and build for it.

Do you know if the new Pi 4B uses the same architecture as the Pi 3B+? If I'm going to buy something, I'd prefer to just buy the newer Pi 4B... :-)

[2019-06-28 04:40] mikenye commented on #2
It looks like the 4B also uses arm64/v8 (https://www.raspberrypi.org/documentation/hardware/raspberrypi/bcm2711/README.md)

I'll buy one and build for that platform as soon as it arrives.

[2019-06-28 04:45] ChadOhman commented on #2
Hey Mike,
Yes, the 4B uses the same arm64/v8. Very excited to get my hands on one.
No rush, I was able to get piaware loaded up on obstruse's arm docker image. I appreciate it and I'll close the issue as it's not really an "issue". Cheers!

[2019-06-28 04:51] mikenye commented on #2
OK, Pi4B ordered! Delivery expected 10th July.

[2019-06-28 04:52] mikenye commented on #2
I'm going to re-open and close once the arm64/v8 image is done (if that's ok).

[2019-06-28 05:06] ChadOhman commented on #2
Sounds great. Looking forward to it. Thanks Mike!

[2019-08-06 03:47] mikenye commented on #2
Just a quick update on this. I've (finally) received my RPi4B, however my MacBook power supply doesn't power it (so much for "standards" hey?) and the power supply I ordered is on backorder... :(

Sorry for the delay. Hopefully the PSU isn't far away...

[2019-08-16 15:54] dlfryar opened #3 "Running container errors missing directories"
Need to mkdir -p all these directories when building the Docker image

/var/cache/lighttpd/compress
/var/tmp
/var/log/piaware
/var/log/dump1090
/var/cache/lighttpd/compress/

[2019-08-21 08:05] mikenye commented on #3
Hi @dlfryar,

Those directories definitely exist in the container. I checked the latest version:

[code]

Do you have any further information on the error you're seeing?

Thanks.

-Mike

[2019-08-26 16:15] mikenye commented on #2
Hi @ChadOhman, I finally received all the parts for my RPi4. I've created a dockerfile for aarch64, built the container on 64-bit Raspbian and updated the image. There should now be a manifest for linux/arm64/v8 that you can use. Please let me know how you fare.

[2019-08-26 16:15] #2 closed

[2019-08-26 16:17] #3 closed

[2020-04-14 12:47] jondolan opened #15 "No messages on ROCKPro64 (aarch64)"
Hello! Thanks for your work on these great ADS-B images!

I have a working ADS-B setup (not in Docker) on a Pi 3B but I am looking to migrate my receiver to a ROCKPro64.

Everything appears to start up as expected (on both this image and the mikenye/readsb image), but there are 0.0 messages/sec in the PiAware GUI and likewise no decodings visible in the viewadsb tool.

I have tried all the USB por

[2020-04-14 15:35] jondolan commented on #15
I have also built the Dockerfile manually, with the same results.

[2020-04-14 16:26] mikenye commented on #15
Hi @jondolan,

Can I get you to try the following:

Stop any containers/processes that might be using your RTL-SDR radio, then run the `readsb` container with the following command line:

[code]

...swapping `YOUR_LATITUDE` and `YOUR_LONGITUDE` for the correct values.

Then, run the following command: `docker exec -it readsb viewadsb`.

I'd like to see if this gives you any output.

Thanks.

-Mike

[2020-04-14 17:05] jondolan commented on #15
Yes, Mike, I also tried your readsb image with no luck showing and decoded aircraft.

It is particularly weird because everything appears to be working fine, the dongle is detected properly, initialized, everything starts up properly, etc...but no decodings. I know the setup works, I just tested again on the Pi.

Also, I get a nginx 404 on port 8080 for the web interface in readsb.

This is what I

[2020-04-14 17:21] jondolan commented on #15
I should also note I tried privileged mode and have run as root and a regular user.

Additionally, I tried copying the exact run parameters that are working on the Pi and manually start dump1090-fa with those, but no luck (modified the script in etc/services.d/piaware/run and manually rebuilt the timage).

`--device-index 0 --gain -10 --ppm 0 --max-range 360 --fix --net --net-heartbeat 60 --net-ro

[2020-04-14 20:11] jondolan commented on #15
Compiling and running dump1090-fa outside of the container is working with
[code]

and a stream of decodings is printed to the terminal.

So does this narrow it down to a difference between the settings your container applies to the dongle or something messed up with docker, permissions maybe?

[2020-04-15 01:12] mikenye commented on #15
Do you know what version of `rtlsdr` you're running? Both my `piaware` and `readsb` containers are using v0.6.0 - I wonder if it's an issue relating to that...

If you run the command `ldconfig -v | grep rtlsdr` it should output something like:

[code]

I'd be interested to see what version the working `dump1090-fa` system is using.

Cheers!

[2020-04-16 18:42] jondolan commented on #15
I have librtlsdr.so.0.5.3 installed.
I have it working outside the container on the ROCKPro64, so currently I have configed all the feeder images with an external feeder. I will try building rtlsdr v0.5.3 inside your container, my guess is that will work...

[2020-04-16 19:37] jondolan commented on #15
Yes, changing the Dockerfile to v0.5.3 tag worked for ROCKPro64 aarch64

the rtlsdr install section:

[code]

[2020-04-17 04:09] mikenye commented on #15
Ok, that's good news. It might be worth raising this issue with [the folks over at Osmocom](https://osmocom.org/projects/rtl-sdr/issues) so they're able to fix the underlying issue with `rtl-sdr`.

In the meantime, I've thought about how to fix this issue with the container. I don't think I want to drop the version of `rtl-sdr` down, as this may introduce issues for other users.

I think for the t

[2020-04-17 04:41] mikenye commented on #15
OK, you should be able to pull and use the docker image `mikenye/piaware:latest-rtlsdr-v0.5.3`.

I'll endevour to keep this updated for as long as I can, however ideally Osmocom should be made aware of the issue so they can fix and include in the next release of `rtl-sdr`.

Please let me know if `mikenye/piaware:latest-rtlsdr-v0.5.3` works for you.

Cheers.

[2020-04-22 14:30] tmonfiletto opened #17 "Docker image loads and checks in but continuously restarts dump1090"
LSUSB from host (raspiberrypi4 Ubuntu 19.10.01 arm64) Bus 001 Device 005: ID 0bda:2838 Realtek Semiconductor Corp. RTL2838 DVB-T
LSUSB from container: Bus 001 Device 005: ID 0bda:2838

[dump1090-fa] Wed Apr 22 10:15:16 2020 EDT dump1090-fa starting up.
[dump1090-fa] rtlsdr: using device #0: Generic RTL2832U OEM (Realtek, RTL2838UHIDIR, SN 00000001)
[dump1090-fa] Found Rafael Micro R820T tuner
[dum

[2020-04-22 14:42] tmonfiletto commented on #17
Here is the output from my usb-devices, is it blacklisted properly?
T:  Bus=01 Lev=03 Prnt=03 Port=03 Cnt=02 Dev#=  5 Spd=480 MxCh= 0
D:  Ver= 2.00 Cls=00(>ifc ) Sub=00 Prot=00 MxPS=64 #Cfgs=  1
P:  Vendor=0bda ProdID=2838 Rev=01.00
S:  Manufacturer=Realtek
S:  Product=RTL2838UHIDIR
S:  SerialNumber=00000001
C:  #Ifs= 2 Cfg#= 1 Atr=80 MxPwr=500mA
I:  If#=0x0 Alt= 0 #EPs= 1 Cls=ff(vend.) Sub=ff Pro

[2020-04-22 18:51] tmonfiletto commented on #17
I pulled your other image

mikenye/piaware:latest-rtlsdr-v0.5.3

That seems better, its not just rebooting anymore

[piaware] mlat-client(279): Reconnecting in 30.0 seconds
[piaware] mlat-client(279): Beast-format results connection with 127.0.0.1:30104: connection established
[piaware] mlat-client(279): Input connected to localhost:30005
[piaware] mlat-client(279): Input format changed to BEAST,

[2020-04-22 23:59] tmonfiletto commented on #17
You can mark this as resolved once you take a look at it, i'll pull any further information you need but as of now its working great with the updated image

[2020-04-24 01:22] mikenye commented on #17
Hi @tmonfiletto, sorry for the delay in responding to you - my day job has been quite busy.

This looks like it may be related to issue #15. There seems to be an incompatibility between `rtlsdr` version 0.6.0 and the RTL2838UHIDIR. For now, the fix is to use the image you found (tagged with `-rtlsdr-v0.5.3`).

I will find the time to open an issue with the maintainers of `rtlsdr` to see if they're

[2020-04-24 01:22] #17 closed

[2020-04-29 14:25] mikenye commented on #15
Related: https://github.com/mikenye/docker-readsb/issues/3

[2020-04-29 18:09] mikenye commented on #15
Fixed in `latest` & `v3.8.1` image tags.

[2020-04-29 18:09] #15 closed

[2020-05-02 10:28] klara31 opened #21 "Dockerfile mlat reference incorrect"
Dockerfile, line 149 states:
[code]
however, this should be:
[code]
to get MLAT working

[2020-05-02 13:25] mikenye commented on #21
Ugh I'm an idiot. :-)
Thanks for picking this up.

[2020-05-02 13:36] mikenye commented on #21
Making the change has (obviously) fixed the problem:

[code]

[2020-05-02 13:41] klara31 commented on #21
Glad I could help (-:

While you're at it: when I enter the container and issue the command piaware-status, I guess it is missing pgrep. Do you want a new issue for that?

[2020-05-02 13:42] mikenye commented on #21
Nope, that's ok, I'll fix that under this issue too. :-)

[2020-05-02 13:42] klara31 commented on #21
Thanks!

[2020-05-02 13:47] mikenye commented on #21
Interestingly it looks like the `fa-mlat-client` issue is related to moving from Alpine to Debian, which happened on the 29th April 2020. Looking at my FlightAware My ADSB, I can see my MLAT dropped to 0 from 30th April onwards.

[2020-05-02 13:49] mikenye commented on #21
Blame: ebec3721f0ad69add4d052608a4a86279dc8d8d5

[2020-05-02 13:50] klara31 commented on #21
Just wondering: why are you using the MLAT client from mutability and not the one from FlightAware?

[2020-05-02 13:53] mikenye commented on #21
FlightAware appear to use mutability/mlat-client.

See: https://github.com/flightaware/piaware_builder/blob/66a92f1e4b267bb8113ff7ff0e3415b6c7f8a33d/sensible-build.sh#L89

[2020-05-02 13:55] mikenye commented on #21
OK, adding the `procps` package seems to have fixed `piaware-status`:

[code]

[2020-05-02 14:17] klara31 commented on #21
Great! A new build will be pushed to docker automatically?

[2020-05-02 14:18] mikenye commented on #21
I'm building it right now. amd64 & arm/v7 are done, just waiting on arm64...

[2020-05-02 14:19] klara31 commented on #21
nice

[2020-05-02 14:22] mikenye commented on #21
OK! `mikenye/piaware:latest` and `mikenye/piaware:v3.8.1` have been built and pushed. Let me know how you go.

[2020-05-02 14:30] klara31 commented on #21
It's working!

Just switched from bare metal to docker on my Pi, I will let you know if I bump into other issues.

[2020-05-02 14:32] mikenye commented on #21
Yay. Thanks, please do. If you have Discord feel free to message me on there. mikenye#4103.

[2020-05-02 14:32] #21 closed

[2020-05-05 07:40] klara31 opened #24 "Suggestion: redirect directly to FlightAware user statistics page"
When clicking on the FlightAware logo on the top left, you are redirected to the FlightAware home page. It's a lot easier when you are directly redirected to your personal statistics page. When running locally, I was using the following patch:
[code]
Is it possible to implement this, probably using an runtime environment variable on this image?

Another request: add BING api key to the runtime env

[2020-05-05 17:37] klara31 commented on #24
Awesome! Thanks :)

[2020-05-06 00:51] mikenye commented on #24
No worries! Did it work for you?

Also, I've been googling about using a Bing API key with `piaware`... Do you have any info on this or suggestions on how to implement?

[2020-05-06 07:07] klara31 commented on #24
config.js has a line for that:
```BingMapsAPIKey = "xxxxxxxxxxx";```
I already tried adding this line to config.js and that works OK.

[2020-05-06 15:41] mikenye commented on #24
OK, the `latest` tag of the image should allow you to set `BINGMAPSAPIKEY`. Let me know how you fare.

[2020-05-06 16:35] klara31 commented on #24
Yep, working! Thanks again!

[2020-05-06 16:44] mikenye commented on #24
You're most welcome!

[2020-06-01 03:09] mik3y opened #29 "Add `HEALTHCHECK` to recover from dump1090 failures"
### Issue

I seem to have a slightly unreliable SDR (or perhaps pi/power supply). Once every week or two, the USB device disconnects and promptly reconnects. This can be seen in `dmesg`:

[code]

This seems to leave dump1090 in a bad state, in a loop like this:

[code]

Bouncing the container, i.e. `docker-compose restart`, does the trick every time.

### Possible solutions

No question to me this

[2020-06-02 08:39] mikenye commented on #29
Hi @mik3y, thanks for the idea and for the detail. I'm looking to implement this over the next day or so. When your container is unhealthy, can you let me know the exit code of `piaware-status`?

You can issue the following:

[code]

I'm interested in the number that is printed from the `echo $?` command.

Something else to consider - when your SDR disconnects/reconnects, does it have the same USB

[2020-06-02 09:41] mikenye commented on #29
OK, I've added the first iteration of the healthcheck script in 34bda933c044832a124e243d69144192f38a3519.

I'm just waiting on the build to finish, however hopefully by the time you read this you should be able to try `mikenye/piaware:development` which contains the healthcheck.

I'm also running this, however I use an external Beast provider (no USB radio mapped as-per https://github.com/mikenye/

[2020-06-03 00:14] mik3y commented on #29
Awesome! I will give this a try.

Exit status is `0` when piware is wedged:

[code]

Good question! I'm stepping around that by giving the container the whole usb device tree:

[code]

[2020-06-03 00:29] mik3y commented on #29
Worked like a charm - almost!

After updating to your tag, I restarted the services and then manually pulled the USB device. That triggered the wedge. Soon after, the health check reported its first failure:

[code]

Why it's only almost: Unfortunately I had a slight misunderstanding about this feature; docker does not automatically restart an unhealthy container. It seems a ~simple [workaround](h

[2020-06-03 01:20] mikenye commented on #29
Instead of having the container kill itself, may I suggest that you consider [willfarrell/autoheal](https://hub.docker.com/r/willfarrell/autoheal/) instead (as-per the article you linked, and I also use this personally).

I'm not sure that killing the init process is a good idea, and may break existing deployments if a user doesn't have `restart=always` etc...

Let me know your thoughts.

[2020-06-03 01:29] mik3y commented on #29
Oh yeah, that's a way better approach & decoupling. I'll give that a shot!

Meantime I'll let this run for the next few weeks and report back if the health check doesn't do its thing.

[2020-06-03 01:30] mikenye commented on #29
Thanks very much!

[2020-06-06 11:14] mikenye commented on #29
Hi @mik3y, how's it been running for you?

[2020-06-06 16:28] mik3y commented on #29
No issues thus far!

[2020-06-07 13:31] mikenye commented on #29
OK cool. I'm going to merge these changes into master so they'll get built into the `latest` image overnight. Thanks for your help with this one.

[2020-06-07 13:31] #29 closed

[2020-06-08 19:04] seanauff opened #31 "Exec format error when running container on Raspberry Pi 3B"
I'm getting the exec format error in the logs when attempting to run the `latest` tag on my Raspberry Pi 3B.
[code]

`latest` tag runs fine on my Atomic Pi (x86_64), so there seems to be something amiss with the way the arch gets detected.

I was able to build the image myself on the Pi 3B and it works great.

[2020-06-08 23:42] echoz commented on #31
Seeing this for the following images too:

- [planefinder](https://github.com/mikenye/docker-planefinder)
- [flightradar24](https://github.com/mikenye/docker-flightradar24)
- [radarbox](https://github.com/mikenye/docker-radarbox)

[2020-06-09 00:54] mikenye commented on #31
Acknowledging this. Please accept my apologies - something has gone awry in my build farm. I'm actively troubleshooting this and hope to have it resolved shortly.

[2020-06-09 00:55] echoz commented on #31
No worries. Thanks for maintaining this! Just thought you'd like to know!

[2020-06-09 03:03] mikenye commented on #31
Appreciate the heads up! :-)

[2020-06-09 10:56] mikenye commented on #31
@echoz @seanauff all images should be fixed now!

[2020-06-09 12:50] seanauff commented on #31
Tested and working, thanks!

[2020-06-09 12:50] #31 closed

[2020-06-19 08:42] jheinitz opened #34 "Log messages do not contain a timestamp"
Hello,

I like your image and it makes it very easy to setup a feeder for FlightAware. I'm using a docker-compose setup which makes it even more easier to maintain for me. However, when I look at the output from docker-compose logs, I do not see any timestamps. Is it possible to change that somewhere or is it an issue of the piaware software itself? Please see my log for reference:

`user1@server1

[2020-06-22 04:12] mikenye commented on #34
Hi Jens,

Unfortunately, `piaware` doesn't include the date/time in their log messages. However, I pipe the logs through `awk` to add the `[piaware]` text, so I've modified the `awk` syntax to include the current date/time.

If you re-pull the image, you should see the date/time included for the `piaware` logs.

Let me know if this solves your problem.

Kind regards,
Mike Nye

[2020-06-22 09:38] jheinitz commented on #34
Hi Mike,

well done. That's looks good now. The only drawback is that messages are
not shown immediately, but after a long period of time. It seems that the
logging is now buffered. Could you add something to remove the buffering of
the logs?

Thanks and best regards

Jens

Am Mo., 22. Juni 2020 um 06:12 Uhr schrieb Mike <notifications@github.com>:

[2020-06-22 10:49] mikenye commented on #34
OK, I've changed the buffering for the `awk` instances. Can you re-pull and try again?

[2020-06-22 10:52] jheinitz commented on #34
Hi Mike,

that's perfect. Logs appear immediately and timestamp is included.
Thanks a lot for the quick fix.

Cheers

Jens

Am Mo., 22. Juni 2020 um 12:49 Uhr schrieb Mike <notifications@github.com>:

[2020-06-22 14:00] mikenye commented on #34
No problems, thanks!

[2020-06-22 14:00] #34 closed

[2020-07-04 16:03] visibilityspots opened #43 "healthcheck high load"
I had to force my nomad based piaware docker setup down to the image with label 3.8.0 due to the health check in version 3.8.1. The node it was running on got a really high load making it unstable.

I'll dig into it once I find some time to debug the issue but thought I already give a headsup.

[2020-07-05 02:53] mikenye commented on #43
Hi Jan,

Sorry this is causing you problems.

You can just disable the health check, this might be a better option for you.

With docker run add `--no-healthcheck`.

With docker-compose add the following to the piaware service:

[code]

Keep me posted!

[2020-07-08 02:57] mikenye commented on #43
Hi @visibilityspots,

Any updates?

[2020-07-22 07:56] klara31 commented on #24
The redirect to the user statistics page is gone...

[2020-07-22 08:17] mikenye commented on #24
I'll check it out

[2020-07-22 11:52] mikenye commented on #24
Ok this should now be fixed. Apologies for the inconvenience.

[2020-07-22 12:03] klara31 commented on #24
Confirmed! Thanks (-:

[2020-07-22 12:40] #24 closed

[2020-07-23 18:41] visibilityspots commented on #43
Finally found some time to further investigate the issue. It's definitely the healthcheck which is causing the high load every 30s as you can see in the image:
![healthcheck](https://user-images.githubusercontent.com/1517311/88324740-67ab0780-cd24-11ea-8c9a-c74aae9511bf.png)
The peaks are topping over 600Mhz during the healthcheck..

Unfortunately nomad doesn't support the disabling of the HEALTHC

[2020-07-23 19:39] mikenye commented on #43
Yes, this is not ideal. I will rewrite the healthcheck.

In the meantime, I've created you `mikenye/piaware:latest_no_healthcheck` and `mikenye/piaware:v3.8.1_no_healthcheck`.

Feel free to use these. Once I've fixed the healthcheck I'll get you to test and revert to the normal stream if that's OK.

Thanks.

[2020-07-23 23:12] mikenye commented on #43
Hi @visibilityspots, can you pull and try out `mikenye/piaware:development`? This contains a reworked healthcheck using bash instead of python.

If this solves your problem, I'll merge into `master`.

Thanks.

[2020-07-24 03:34] n8acl opened #49 "Connecting YAAC Client to piaware ADSB output"
Hello!

This is less an issue, more of a question. I am a Ham Radio Operator and I am trying to tie the Yet Another APRS Client (YAAC) program to the ADS-B output from the PiAware Container. YAAC has a plugin that will allow the software to decode ADS-B from dump1090 and display it on a map with other APRS Stations. Trying to do this for a couple of reasons: 1) it's geeky and cool and 2) trying to

[2020-07-24 12:08] visibilityspots commented on #43
Hi,

I tried the development tagged image but the issue still pops up now only every 300s :)
![flightaware-peaks](https://user-images.githubusercontent.com/1517311/88389641-24e63f80-cdb7-11ea-974f-bd73ba2a0f43.png)

[2020-07-24 13:50] n8acl commented on #49
HA never mind. I was able to get it to work with your readsb container. Thanks!

[2020-07-24 13:51] #49 closed

[2020-07-27 10:34] mikenye commented on #43
Annoying. I hoped that moving the healthcheck from python to bash would alleviate the problem.

Looking at the `healthcheck.sh` script, I can't figure out what could be contributing to the high load. My best guess is running `piaware-status`.

Are you able to run `piaware-status` manually to see whether this causes a CPU spike?

[2020-07-28 02:44] mikenye commented on #43
Would you like me to maintain an additional "latest_nohealthcheck" version of the image?

[2020-07-29 04:18] mikenye commented on #49
Hi @n8acl, no problems! I'm glad you were able to find a solution.

[2020-08-03 07:41] visibilityspots commented on #43
if that's possible that would be great to keep the noheathcheck version alive. I double checked with the piaware-status but that particular command didn't really spiked the CPU...

[2020-08-03 07:55] mikenye commented on #43
Hi @visibilityspots,

It would be my pleasure. I'll update my nightly build scripts to build the `nohealthcheck` version nightly.

[2020-08-03 08:39] mikenye commented on #43
Hi @visibilityspots,

This has been completed. I changed the name of the tag to `_nohealthcheck`, so you should be able to pull `latest_nohealthcheck`, and this will be built nightly from `master` branch.

Cheers!

[2020-08-03 08:39] #43 closed

[2020-09-15 17:56] 0verzeal0us opened #52 "Start automatically"
I can use docker run to create and start the container and the device checks in. When I restart the device I have to manually restart it. Is there a way for it to start automatically?

[2020-09-15 18:00] mikenye commented on #52
In your docker run command, include `--restart=always`, and the container will be restarted when the host reboots.

[2020-09-15 19:28] #52 closed

[2020-09-15 19:28] 0verzeal0us commented on #52
Thank you!

[2020-09-16 00:11] mikenye commented on #52
You're very welcome. :-)

[2020-10-01 14:26] 0verzeal0us opened #54 "PiAware v4.0"
Hi there, not really an issue but more of a request. Will you be updating this to support v4 of PiAware?

[2020-10-14 00:15] mikenye commented on #54
Hi @0verzeal0us, sorry for the delayed reply - I somehow missed this...

The image has support for v4.0 - the `latest` tag of the image is v4.0 and there are specific tags for v4.0 (and earlier versions).

Kind regards,
Mike Nye

[2020-10-14 16:38] 0verzeal0us commented on #54
Perfect! Thanks!

[2020-10-14 16:38] #54 closed

[2020-10-28 21:46] klara31 opened #55 "RTLSDR_PPM value not picked up"
I have set the RTLSDR_PPM value in de docker.yml file. If I check the code, in etc/services.d/dump1090/run there is a line: RTLSDR_PPM="$(piaware-config -show rtlsdr-ppm)"
But RTLSDR_PPM is not set to piaware-config. Hence the value is always 0.

Or am I missing something?

[2020-10-29 01:22] mikenye commented on #55
You're correct. Oops. I'll fix this now. Sorry for the inconvenience.

[2020-10-29 02:27] mikenye commented on #55
@klara31 I've implemented an attempted fix. Can you pull the `:latest` image and let me know if that solves your problem?

Thanks.

[2020-10-29 09:32] klara31 commented on #55
Yes, PPM value now is used correctly. Thanks again!

[2020-10-29 09:32] #55 closed

[2020-10-29 21:49] mikenye commented on #55
You're most welcome. Thanks for reporting the issue.

[2020-11-02 04:57] clarkchentw opened #57 "Feature Request: Add PiAware Status Page"
- PiAware Status Page normally listen on port 80: https://github.com/flightaware/piaware-web

[2020-11-02 10:24] #57 closed

[2020-11-02 10:26] mikenye commented on #57
Hi @clarkchentw, thanks for your suggestion. I've implemented it and the new image is currently building, it should be ready in 30 minutes or so.

Please let me know if you have any problems.

[2020-11-02 10:59] mikenye commented on #57
Image is ready.

[2020-11-07 14:55] scottwallacesh opened #60 "Healthcheck now failing on Docker"
Missing healthcheck script:
[code]

[2020-11-07 16:20] mikenye commented on #60
Hi @scottwallacesh,

The current version of the container has the healthcheck commented out (while I work on it): <https://github.com/mikenye/docker-piaware/blob/dfa8dbda3f43f2338ea769599ececd862d94f994/Dockerfile#L281>

Are you manually specifying a healthcheck?

If so, I'd recommend disabling it for a few days while I re-write the healthcheck.

Sorry for the inconvenience.

-Mike

[2020-11-07 16:24] mikenye commented on #60
FYI - I'd recently made a significant amount of changes in order to properly implement UAT (dump978/skyaware978), which broke the healthcheck. Rather than delay the release of the image by rewriting the healthcheck code, I figured I'd release the new version with the healthcheck disabled, and finish the healthcheck over the next day or two.

[2020-11-07 16:43] scottwallacesh commented on #60
No.  I'm simply using `mikenye/piaware` from Docker Hub:
[code]

[2020-11-07 16:51] mikenye commented on #60
Can you run `uname -m` on the host with the problem and post the output so I know which architecture to test on?

[2020-11-07 16:53] scottwallacesh commented on #60
Ahh... it appears that `docker-compose` hangs on the the concept of a healthcheck until the container is removed and recreated.  Simply recreating with a new image wasn't enough as it still said that a healthcheck existed.

Sorted now.

[2020-11-07 16:53] #60 closed

[2020-11-07 16:53] scottwallacesh commented on #60
[code]

[2020-11-07 16:54] mikenye commented on #60
Oh that's really annoying. I didn't realise.

I'll try and get the healthcheck finished ASAP.

[2020-12-06 16:25] klara31 opened #63 "Error running on latest (v4)"
Did you change something on the latest version? I am toggling between Raspberry Pi OS armhf and arm64 (still waiting for a stable version of the latter). I was running on arm64, but for some reason, network sometimes does not come up at boot. So I switched back to a clean armhf image.
Now I noticed piaware was not providing data. Checking the logs shows:
```[dump1090] 2020/12/06 17:17:14 /usr/loca

[2020-12-06 16:50] mikenye commented on #63
Sorry about this - I have no way to test on armhf yet. I'll try to get my hands on an earlier Pi.

I've added the missing library and am rebuilding the image.

[2020-12-06 20:29] klara31 commented on #63
You can just run it on a Pi4 if you have one. They run both armhf and arm64.
As soon as the new build comes online, I will give it a try

[2020-12-06 23:38] mikenye commented on #63
The images have been rebuilt. Let me know if that fixes the problem. Thanks.

[2020-12-07 08:45] klara31 commented on #63
Just pulled _latest_ again, and I am still getting the same error...

[2020-12-11 01:06] mikenye commented on #63
Hi @klara31, sorry for the delay. Is it exactly the same error (missing `libatomic.so.1`)?

[2020-12-11 08:10] klara31 commented on #63
This is the error:
```/usr/local/bin/dump1090: error while loading shared libraries: libatomic.so.1: cannot open shared object file: No such file or directory```

[2020-12-12 01:54] mikenye commented on #63
Hi @klara31, could you provide the output of `uname -m` from your host?

Looking at the `armhf` version of the container, `dump1090` doesn't appear to need libatomic:

[code]

... however, I've included libatomic in the image's packages, so it should be there anyway:

[code]

I've (last night) changed the build process, so if you could pull the latest version and try again, it would be appreciated

[2020-12-12 15:33] klara31 commented on #63
On the host:
[code]
and in the container:

[code]
I do have ```arm_64bit=1``` in ```/boot/config.txt```, but the base OS is the official 32bit Raspbian.
When using exactly the same board and the same docker-compose.yml on a 64bit Raspbian (the beta version), there is no error and piaware runs fine.

[2020-12-13 04:17] mikenye commented on #63
Can I trouble you to run the following commands:

On the host: `file $(which cp)`

In the container:
[code]

Thanks.

[2020-12-13 11:35] klara31 commented on #63
On the host:
[code]
In the container:
[code]

[2020-12-15 15:52] mikenye commented on #63
Hi @klara31,

I've updated the build action to build single platform versions of the image, so the following images are now available:

- `mikenye/piaware:latest_arm_v6`
- `mikenye/piaware:latest_arm_v7`
- `mikenye/piaware:latest_arm64`

Comparing your output from your system above with the outputs below, it looks like your docker is using the arm/v6 architecture version of the image (based on lib

[2020-12-19 12:26] klara31 commented on #63
I tried this with a simple docker, created with: docker run -d -e LAT=1 -e LONG=1 mikenye/piaware:latest_arm*

mikenye/piaware:latest_arm_v6:
[code]
mikenye/piaware:latest_arm_v7:
[code]
mikenye/piaware:latest_arm64 does not start up...
I'm not sure what is happening here... confusing...

[2020-12-19 12:28] mikenye commented on #63
OK. I would suggest you use `mikenye/piaware:latest_arm_v7`. That should work for you.

[2020-12-19 12:30] klara31 commented on #63
will do, thanks again :)

[2020-12-19 12:30] #63 closed

[2020-12-19 12:31] mikenye commented on #63
No problems, thanks for your patience.

[2020-12-23 16:55] hjboven opened #67 "Docker-piaware not recieving messages from readsb-protobuf"
Hi Mike

Just discovered your images yesterday and the seem to build an extremly nice environment to replace my standalone Piaware feeder.  I'm using a Raspberry Pi 3b+ with Ubuntu Server 20.04 for Rasberry on it. Works like a charm.

So far I've got readsb-protobuf installed and it seem to work fine.
"docker exec -it readsb viewadsb" shows me a nice Table with plenty of recieved messages. Also th

[2020-12-23 23:39] mikenye commented on #67
Hi Henk,

Are you using docker-compose? If so, you should specify the container name instead of a loopback address for the `BEASTHOST` variable.

Without docker, if you were running these binaries on the host you’d be absolutely correct. However, when running inside a container, the loopback address points to the local container and not the underlying host.

If you called your readsb container “`r

[2020-12-29 13:18] hjboven commented on #67
Hello Mike,

I was not using Docker-Compose to be honest have not used Docker-Compose before. I set it up now using Docker-Compose folowing your Gitbook and it all works. Thank you very much

[2020-12-29 13:18] #67 closed

[2020-12-30 00:57] mikenye commented on #67
Hi @hjboven, I'm glad you got it working mate!

[2021-01-03 00:14] mikenye opened #69 "dump1090 segfault/coredump"
This issue is open to track the issue with the segfault/coredump of dump1090.

This appears to be limited to x86_64 architecture.

https://github.com/mikenye/docker-piaware/commit/a0241c9a63ee7e7f96f5485e23f2b45fedb2b620#commitcomment-45580597

[2021-01-03 00:19] mikenye commented on #69
@stevenfla, are you able to revert to self-building the container while I look into this?

[2021-01-03 01:12] mikenye commented on #69
@stevenfla can I please trouble you to post the output of the following commands?

- While the “broken” container is running:
  - `docker exec piaware ldd /usr/local/bin/dump1090`
  - `docker exec piaware md5sum /usr/local/bin/dump1090`
- `uname -a`
- `lscpu`
- `lscpu -e`

Thanks

[2021-01-03 15:53] stevenfla commented on #69
re-posting here. May have posted in the wrong place !

[code]

[2021-01-03 23:37] stevenfla commented on #69
Thanks Mike. I can move back and forth to working image easily so this is not a problem.

[2021-01-07 13:25] mikenye commented on #69
@stevenfla can you try the command `docker run --rm -it --entrypoint dump1090 mikenye/piaware --help`, and paste the output?

[2021-01-08 13:45] mikenye commented on #69
I should explain - I want to see whether there's any additional information if you cause a segfault manually.

[2021-01-09 22:37] stevenflang commented on #69
Am currently running with no problem this container: mikenye/piaware:latest_nohealthcheck

Quick note: sum ran on dump1090 executable in for both containers latest and latest_nohealthcheck match.

[code]

[2021-01-10 05:03] mikenye commented on #69
The fact it downloaded the image and then ran fine makes me wonder if something was wrong with the image you were previously running.

If you change over to `mikenye/piaware:latest`, does that now work ok?

[2021-01-11 17:04] stevenflang commented on #69
Good call on that one Mike and thank you. Problem is resolved.

Removed all containers this time. Check for any remaining images and pulled new ones.
My theory is the images or a portion of those were not being removed.
I suspect this may be due to how I initially set up docker using GhostWriters/DockSTARTer
and maybe also not using the correct command to manage containers in the above environment

[2021-01-11 20:24] mikenye commented on #69
That’s great to hear! Let me know if you have any more issues. :-)

[2021-01-11 20:25] #69 closed

[2021-01-17 16:42] stevenflang commented on #69
Wanted to make a final comment on this issue in that maybe it might be helpful to others.
Before this started happening, due to cpu utilization nearing 100 %, moved off older core 2 cpu and over to I7. I just had too many containers running. To save time simply moved the boot disk to I7 and booted it up. I didn't check log on any containers after doing this where they all seemed started. I did che

[2021-03-13 18:56] mo8Zomo0 opened #71 "port and IP as shown on flightaware site information"
Hi Mike&all,

first of all thx for the great work and documentation. I found some minor thing to improve:

https://flightaware.com/adsb/stats/user/<user> shows the internal IP and port of the local webinterface
under "site information": "Web Interface: View live data (requires local network connection)"
which shows as: http://172.17.0.6:8080/

This is the internal docker IP address or piaware:
# d

[2021-03-15 02:39] mikenye commented on #71
Hi @mo8Zomo0,

I'm not sure I can implement this without making changes to the piaware source code.

Piaware gets the host's IP address by getting the output of the command `ip -o address show dev $dev`.

It appears to be this section in the piaware source code:
https://github.com/flightaware/piaware/blob/515841346eb6783d1bf9553675aef988fe64748b/package/fa_sysinfo.tcl#L197

There doesn't appear to

[2021-03-15 10:45] mikenye opened #73 "Update web interface to Skyaware"

[2021-03-15 15:20] mo8Zomo0 commented on #71
@mikenye no, not aware how to archive this without patching piaware.
So maybe (as its not really a mikenye issue, but a general docker/piaware issue, I opened a case
towards: https://github.com/flightaware/piaware/issues/70
So lets see.

thx!

[2021-03-16 08:55] klara31 commented on #73
Just updated the container, still getting a ```404 Not Found``` when surfing to /skyaware ...

[2021-03-16 14:43] mo8Zomo0 commented on #73
I also just pulled to the latest and had my :8081 website broken.

It looks to me the path is wrong. There is only a folder /usr/share/skyaware978
but /etc/lighttpd/skyaware.lighttpd.conf points to /usr/share/skyaware as well:

a hotfix to get it going might be:
/opt/adsb# _docker exec -it piaware ln -s /usr/share/skyaware978 /usr/share/skyaware_
worked at least for me.

Which path is expected to

[2021-03-20 15:23] visibilityspots opened #77 "buffer overflow detected armv7l (pi4)"
when using the images both v4 / v5  I got a buffer overflow detected and a core dump running on a pi 4 did I overlooked something?

[code]

[2021-03-22 11:24] mikenye commented on #77
Hi Jan,

Looking into this, I can see that if IPv6 is disabled by inserting `ipv6.disable=1` into `/boot/cmdline.txt`, then piaware will undergo a buffer overflow:

- https://discussions.flightaware.com/t/piaware-3-6-2-buffer-overflow-detected/40089/8
- https://github.com/flightaware/piaware/issues/51
- https://www.bountysource.com/issues/70265648-buffer-overflow-when-ipv6-gets-disabled

Have you

[2021-03-22 12:21] visibilityspots commented on #77
ah damn, yes on that node I have it disabled in the past for some tests. :facepalm:

thanks!

[2021-03-22 12:21] #77 closed

[2021-03-22 12:22] mikenye commented on #77
Glad it was an easy fix! :-)

[2021-03-22 15:39] mikenye commented on #71
PR opened: https://github.com/flightaware/piaware/pull/71

[2021-03-22 15:41] mikenye commented on #73
Could you please pull the latest version of the container and let me know if you're still having problems?

[2021-03-22 21:45] klara31 commented on #73
It's working OK now

[2021-03-22 22:57] mikenye commented on #73
Thanks @klara31. Sorry for the inconvenience!

[2021-03-22 22:57] #73 closed

[2021-04-09 14:28] jheinitz opened #78 "healthcheck checks for wrong piaware servers and returns exit code 1"
Hello,

I'm quite happy with the docker image for PiAware. But I just found out that the healthcheck (/scripts/healthcheck.sh) tells me that my system is unhealthy. It tells me that there is no connection to Flightaware, but there is a valid connection.

I think that the problem is that the valid IP addresses are taken from the command

`root@piaware:/# piaware-config -show adept-serverhosts`
`pia

[2021-04-12 08:11] wollew opened #79 "dump1090 coredumps in amd64 image"
I am trying to run the latest image in relay mode, but I am running into the following issue:
[code]

My relevant part of `docker-compose.yml`:
[code]

It works flawlessly if I change to the i386 image.

My system is
[code]

[2021-04-12 10:41] mikenye commented on #79
Hi @wollew, sorry you’re having problems.

Can you please try `mikenye/piaware:latest_amd64`?

Can you please also post the output of `lscpu` on your host?

Thanks.

[2021-04-12 11:39] wollew commented on #79
Ok, I tried, unfortunately it doesn't make a difference:
[code]

Here's my CPU info:
[code]

[2021-04-17 18:09] fabriziofiorucci commented on #79
Hi, same problem here: it started misbehaving a few days ago after restarting and re-pulling the docker image. What I have in my logs is:

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing container ini

[2021-04-17 18:10] fabriziofiorucci commented on #79
Hi, same problem here: it started misbehaving a few days ago after restarting and re-pulling the docker image. What I have in my logs is:

[code]

It's running on a Kubernetes cluster:

[code]

My k8s is running with plenty of CPUs and RAM, all other containers are working as usual.

Images that fail this way are:

[code]

Any clue? Thank you.

[2021-04-19 07:05] mikenye commented on #79
Could I please get you to try building the image on the destination system, to see if this still happens? This will tell me whether the problem is with compiler optimisation or not.

The steps to do this are as follows:

**Clone the github repo**

Inside your `/opt/adsb` directory, run the command `git clone https://github.com/mikenye/docker-piaware.git`.

**Update your `docker-compose.yml` file**

[2021-04-19 07:07] mikenye commented on #78
This should now be fixed. I'll close this out.

[2021-04-19 07:07] #78 closed

[2021-04-19 08:06] wollew commented on #79
Building the image locally works for me.

[2021-04-19 08:19] mikenye commented on #79
Thanks for letting me know. I'll take a look into the build process of dump1090 and see if I can reduce the optimisation.

[2021-04-19 08:21] wollew commented on #79
Let me know if I can help you with anything.

[2021-04-19 08:33] mikenye commented on #79
@wollew any chance you could get me the core dump file from the broken version of the container?

[2021-04-19 09:51] wollew commented on #79
Yes, I just extracted a core file, I'd prefer to not upload it here, I'll contact you via Discord.

[2021-05-21 03:28] mikenye commented on #79
Hi @wollew, I just wanted to check in to see if you're still having issues with this container. It's been a month or so since we last spoke on Discord, and I haven't had much time to spend looking into this due to my day job. If still a problem, I'll spend some time on it. If not, cool. :)

[2021-05-22 09:16] wmr-eue commented on #79
Does the latest image work? No. Is it a problem for me? Also no, I'll just use the i386 image.

[2021-05-22 09:18] wollew commented on #79
Does the latest image work for me? No. Is it a problem for me? Also no, I'll just use the i386 image :-)

[2021-05-24 01:32] mikenye commented on #79
Awesome, thanks <3

[2021-05-28 03:21] luciodaou commented on #79
I'm having the exact same issue, also with a amd64 processor. The tags `amd64`, `arm-v7`, `arm-v6` didn't help. Thanks for the tip of using `i386`. I was using the `v4.0` tag to make it work.

[2021-06-16 01:18] luke-iqt opened #82 "Does the __arm__ flag get defined in BuildX?"
I am trying to get a sense of how much latency there is on the receive side using Dump1090 on a Pi4. I noticed this comment in the RTL-SDR code:
https://github.com/flightaware/dump1090/blob/f862b530c8cea51f4bb9e72356579be67818dcaf/sdr_rtlsdr.c#L56-L59

I was wondering if the `__arm__` flag gets defined in the BuildX system from arm/v7 images?

The commit message explains a bit more:
https://github

[2021-07-04 13:38] mikenye commented on #82
Hi @luke-iqt,

I don't know the answer to your question, however when the build process runs it is run using QEMU emulating the target hardware. So for all intents and purposes, it should be an ARM system.

I added a `uname -a` into the Dockerfile of a temporary branch, and created a draft PR to allow github actions to run. Results for the test builds for each arch are as follows:

- i386: https:/

[2021-08-24 01:56] mikenye commented on #82
Closing due to inactivity

[2021-08-24 01:56] #82 closed

[2021-08-31 22:33] wiedehopf opened #86 "piaware defaulting to wrong uat receiver port"
./rootfs/etc/services.d/978raw-splitter/run

```socat -d -d TCP-LISTEN:30978,fork TCP:"$UAT_RECEIVER_HOST":"${UAT_RECEIVER_PORT:-30979}" \```

change to
```socat -d -d TCP-LISTEN:30978,fork TCP:"$UAT_RECEIVER_HOST":"${UAT_RECEIVER_PORT:-30978}" \```

[2021-09-01 01:41] mikenye commented on #86
Thanks. Fixed in 802b75b.

[2021-09-01 01:41] #86 closed

[2021-09-04 05:25] emilburzo opened #87 "PiAware v6.0 adaptive gain"
(The release announcement email barely came out and you already updated the docker images, amazing!)

One of the highlights of the v6 release seems to be the [adaptive gain](https://github.com/flightaware/dump1090/blob/master/README.adaptive-gain.md).

What would be the easiest way to try it out with the docker image?

[2021-09-12 06:20] ZeeBOB opened #89 "MLAT in relay mode"
I'm running dump1090-fa on a remote machine. When I have this container in relay mode MLAT is unable to connect, probably because it's trying to connect to dump1090-fa on localhost:30104, as per the Multilateration Settings on [FlightAware's Advanced Configuation](https://flightaware.com/adsb/piaware/advanced_configuration) page:

If the container is in relay mode, it should reuse the BEASTHOST va

[2021-10-28 22:59] tezhrec commented on #79
FYI - I've been running your stack with FR24 and ADSBx for months now without issue.  Decided to add Flightaware to the stack and ran into this issue.  The AMD64 image did not work, however building locally is working perfectly.  Glad I found this thread and thank you much for the awesome work!

[2022-01-04 07:23] billygr opened #95 "container unhealthy possible issue with beast-splitter"
Hi,

Setup: dump1090 beast on a different host

pi4: running mikenye/adsbexchange mikenye/planefinder and docker-piware

mikenye/adsbexchange and mikenye/planefinder reports aircrafts with no issues (which means no connection issues etc)

docker-piaware enters unhealthy status almost everyday last messages are like the following:

[piaware] 2022/01/03 23:20:15 no new messages received in 3888 seco

[2022-01-04 07:26] billygr commented on #95
just pulled the latest container just in case

[2022-01-06 07:27] billygr commented on #95
Created the following:

/etc/init.d/beast-splitter

[code]

If it will work as expected i will fire a pull request

[2022-01-08 19:50] billygr commented on #95
Unfortunately it tries to restart it using
invoke-rc.d beast-splitter restart
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of restart.

2022-01-08 19:32:01.600822930  [piaware] 2022/01/08 19:32:01 no new messages received in 3889 seconds, it might just be that there haven't been any aircraft nearby but I'm going to try to restart everything, just in c

[2022-01-10 09:22] mikenye commented on #95
It looks like the pkill syntax in my other "fake" init scripts was wrong.

I've fixed them, and added your script with the correct syntax.

Can you please re-test?

To do this, in your docker-compose.yml file, under the piaware service, can you please:

* comment out the existing `image:` or `build:` directives
* add `build: https://github.com/mikenye/docker-piaware.git#issue_95`
* run `docker-com

[2022-01-10 12:46] billygr commented on #95
I have corrected them both on my repo but still not pushed it yet.

There is another change needed on the fa_services.tcl to ignore the invoce-rc.d. Still testing it (and of course on the dockerfile to include it on the build). Renamed it to txt in order to uploaded it
[fa_services.tcl.txt](https://github.com/mikenye/docker-piaware/files/7838879/fa_services.tcl.txt)

[2022-01-10 12:50] billygr commented on #95
And a log file
2022-01-09 11:16:28.479957353  [piaware] 2022/01/09 11:16:28 Receiver location changed, restarting dump1090 and skyaware978
2022-01-09 11:16:28.480548348  [piaware] 2022/01/09 11:16:28 attempting to restart dump1090..
2022-01-09 11:16:28.482201983  [piaware] 2022/01/09 11:16:28 has_invoke_rcd: Running on docker ignoring invoke-rc.d
2022-01-09 11:16:28.482922070  [piaware] 2022/01/09

[2022-01-11 00:15] mikenye commented on #95
That's promising - thanks for the update. Please keep me updated.

[2022-01-11 15:36] billygr commented on #95
You have a pull request, works for me without issues

[2022-01-12 01:16] #95 closed

[2022-01-18 07:08] mikenye commented on #79
I deployed a version of the container that built dump1090 on first run. Upon reflection (and some discourse in Discord), this was not the correct approach and I will roll back.

In the meantime, dump1090 has been updated to version 7.1.

The updated container should be available in the next few hours. I'll post back then, and ask that anyone that had this issue try testing with the new container w

[2022-01-19 00:57] mikenye commented on #79
@wollew, @fabriziofiorucci, @luciodaou, @tezhrec: Could I please trouble you to test with the pre-built image `mikenye/piaware:latest`? Please be sure to pull the container to ensure you get the updated version. Please let me know if you're still getting segfaults. Thanks.

[2022-01-19 07:59] wollew commented on #79
The local tag doesn't exist. If you meant latest, I pulled that and it works without core dumps.

EDIT: I should've looked here instead of just the email notification and then would've seen that you already edited your comment. So to me, this looks good now.

[2022-01-19 09:39] mikenye commented on #79
Yep sorry, typo'd!

Thanks for letting me know. Hopefully it is also resolved for the others too.

[2022-01-20 07:19] dervogt opened #102 "realtime clock inaccessible on v7.1 image"
Hi Mike,

it seems there is an issue with the recent v7.1 image and access to the system time after upgrading my piaware image to the "latest" tag.

The piaware container throws a lot of these errors and CPU load is incredibly high:
sleep: cannot read realtime clock: Operation not permitted

WHen reverting to the docker hub tag / image mikenye/piaware:v6.1 the error message goes away and CPU load

[2022-01-20 19:47] fredclausen commented on #102
Mike, I'm not sure your intentions but the image probably needs to be reverted back to `buster-20211220-slim` to fix the RTC issue (technically libseccomp2 on the host) or `bullseye-20211220-slim` and provide instructions to use the script that @kx1t made (https://github.com/fredclausen/docker-acarshub/blob/main/arm32.MD / https://raw.githubusercontent.com/fredclausen/docker-acarshub/main/libsecco

[2022-01-21 00:33] mikenye commented on #102
Hi @fredclausen, thanks so much for this. I will update this image's README.md to include the wording from your repo and comment above. :-)

[2022-01-21 00:35] fredclausen commented on #102
You're welcome Mike! If it helps you I can move the ARM32 libseccomp2 install stuff in to a new repo and make a more generic readme explaining the issue and the fix.

[2022-01-21 02:15] mikenye commented on #102
@dervogt, further to the discussions above, the TLDR is here: https://github.com/fredclausen/Buster-Docker-Fixes. That repo explains everything and has a workaround/fix.

[2022-01-21 02:19] #102 closed

[2022-01-21 02:19] mikenye commented on #79
Closing this, can re-open if anyone else has issues.

[2022-01-22 01:02] luciodaou commented on #79
Great. Will check on the computer probably on early Monday and then give you feedback.

[2022-01-24 01:42] mikenye commented on #79
Thanks @luciodaou, let me know how you go.

[2022-03-01 15:31] EasternPA opened #112 "skyaware978 is 404"
I lost the skyaware978 view on the piaware container web UI when the images moved to gchr. I had to manually copy `/usr/share/dump978-fa` into `/usr/share/skyaware978` to get it back. In https://github.com/sdr-enthusiasts/docker-baseimage/blob/main/Dockerfile.dump978-full#L41 you make the `/usr/share/dump978-fa` directory and copy `skyaware` into it, but you never make the `/usr/share/skyaware978`

[2022-03-13 19:23] rpatel3001 opened #114 "build failing due to upstream dump1090 changes"
The public_html_merged folder has been removed in the upstream repo so the build now fails. Fixing this might be as easy as removing the `cp` for that folder from the Dockerfile, but I don't use the web features so that might break features.

[2022-03-13 19:27] rpatel3001 opened #115 "logspam when running in relay mode for UAT and no 1090"
Dump1090 runs and fails constantly when not using any 1090 sources. Fix is probably copying the `RUN_DUMP978` checks from the dump978 service into the dump1090 service, modifying to check the correct environment variables, allowing `RECEIVER_TYPE` to be `none`

[2022-03-15 13:04] #114 closed

[2022-03-15 13:04] #115 closed

[2022-03-26 11:23] jheinitz opened #123 "Docker container does not start dump1090 after upgrade to 7.2"
Hello Team!

first of all, I would like to thank you for your efforts on this project. I'm running your piaware image on an old Dell Laptop for quite a while. I do regular updates of the image. The latest happed today. I upgraded from 7.1 to 7.2 and suddenly I could not send message to FlightAware. I logged into the container and figured out that there is no dump1090 process running. I performed a

[2022-03-26 13:37] mikenye commented on #123
Hi @jheinitz, sorry you’re having trouble.

Are you using `BEASTHOST` or is the piaware container talking to the SDR directly?

Could you please post the container logs (removing any sensitive info)?

Thanks.

[2022-03-27 19:45] jheinitz commented on #123
Hello @mikenye ,

my container is talking directly to the USB device. Please find my logs below:

[code]

Here is my docker-compose.yml:
[code]

When I use the tag `v7.1_nohealthcheck` instead of `latest`, everything works fine.

I hope that helps. Please let me know if you want me to do some extra tests.

Kind regards

Jens

[2022-03-27 19:47] jheinitz commented on #123
Hi Mike,

it's me again. When I log into the container, there is no `1090` process running:
[code]

Best regards

Jens

[2022-03-28 01:45] mikenye commented on #123
Hi Jens,

You'll need to set the environment variable `DUMP1090_DEVICE` to the serial or device ID of your RTL-SDR.

You can list your RTL-SDR devices with `docker exec -it piaware rtl_test`.

Let me know if that fixes your problem.

Kind regards,
Mike

[2022-03-28 02:26] mikenye commented on #89
Hi @ZeeBOB, sorry for the delay in getting back to you about this.

When using the container in relay mode (with `BEASTHOST` set), the container behaves as follows:

- `dump1090` is started, and listens on `0.0.0.0:30004` for incoming BEAST connections.
- `beast-splitter` is started, and configured to connect to `$BEASTHOST:$BEASTPORT`, receives BEAST data, connects to `dump1090` (via `127.0.0.1:3

[2022-03-28 02:37] mikenye commented on #89
Hi @ZeeBOB,

I've added:

| Environment Variable | Possible Values | Description | Default |
| -------------------- | --------------- | ------- | ------- |
| `MLAT_RESULTS_BEASTHOST` | a hostname or IP | Specify an external host where MLAT results should be sent. | |
| `MLAT_RESULTS_BEASTPORT` | a port number | Specify the TCP port number where MLAT results should be sent. | `30104` |

These contr

[2022-03-28 02:59] mikenye commented on #87
Hi @emilburzo, sorry for the delay in implementing this.

PR #124 implements the following:

[2022-03-28 03:04] mikenye commented on #123
Hi Jens,

I've also updated the container image to prevent this from occurring.

Once PR #124 is merged, this issue will automatically be closed. After this, the new image will build (will take about 1-2 hours). Once complete, please pull the image and update your container.

Please feel free to re-open the issue if you're still having problems after that.

Thanks.

[2022-03-28 03:05] mikenye commented on #112
Hi @EasternPA,

I've put a fix for this in the Dockerfile (create a symlink instead of copy to keep the image size as small as possible).

Once PR #124 is merged, this issue will automatically be closed. After this, the new image will build (will take about 1-2 hours). Once complete, please pull the image and update your container.

Please feel free to re-open the issue if you're still having prob

[2022-03-28 03:05] mikenye commented on #89
Once PR #124 is merged, this issue will automatically be closed. After this, the new image will build (will take about 1-2 hours). Once complete, please pull the image and update your container.

Please feel free to re-open the issue if you're still having problems after that.

Thanks.

[2022-03-28 03:06] mikenye commented on #87
Once PR #124 is merged, this issue will automatically be closed. After this, the new image will build (will take about 1-2 hours). Once complete, please pull the image and update your container.

Please feel free to re-open the issue if you're still having problems after that.

Thanks.

[2022-03-28 04:43] #87 closed

[2022-03-28 04:43] #89 closed

[2022-03-28 04:43] #112 closed

[2022-03-28 08:19] jheinitz commented on #123
Hi Mike!

That did the trick. Thanks a lot.

Bye

Jens

[2022-03-28 10:00] wiedehopf opened #125 "piaware config / feeder id being deleted"
https://github.com/sdr-enthusiasts/docker-piaware/blob/d2bba9e0ca10ac2bb7811a2b103246f7db2cdbf1/rootfs/etc/cont-init.d/01-piaware#L53

This does not work like this.

[2022-03-28 11:01] #125 closed

[2022-03-29 00:00] jasonkguinn opened #127 "Incorrect Feeder ID Being Used"
As of around 8:15am EDT, my PiAware container stopped supplying data to my correct FlightAware feeder ID. I do have watchtower performing auto-updates to the containers. No config changes have been made recently and all other feeders are functioning nominally. Environment variables and logs from piaware are below. Please let me know if I can provide any other information that might be helpful - an

[2022-03-29 01:26] mikenye commented on #127
There was a bug in the container that was fixed yesterday. Please re-pull and re-create the container. That should solve your problems.

[2022-03-29 01:39] jasonkguinn commented on #127
Perfect - that definitely resolved the issue. Thanks so much for the fast response and resolution!

[2022-03-29 01:39] #127 closed

[2022-03-29 01:40] mikenye commented on #127
No problems, sorry for the bug. Totally my fault. I'm expecting more issues from people in the same position.... 🤦

[2022-03-31 11:09] joshsmithy commented on #123
Hi Mike,

I am facing a smiliar issue with the dump 1090 output.

I use readsb to redistribute receiver data to piaware, hence there is no receiver directly attached to the container...

- docker exec -it flightaware_piaware rtl_test
- Found 1 device(s):
-   0:  ▒TB, , SN:
-
- Using device 0: Generic RTL2832U OEM

My compose file is as follows:

flightaware_piaware:
        image: ghcr.io/sdr-enth

[2022-03-31 15:29] mikenye commented on #123
Hi @joshsmithy, could you please pull the latest version of the piaware image and recreate the container? Once done, please post the output of `docker logs piaware` being careful to remove your LAT/LONG & feeder-id.

Thanks.

[2022-03-31 20:31] courtarro commented on #123
I pulled the latest image yesterday (and again this morning with no change) and now I'm running into this issue, with `dump1090` segfaulting. Here's the error in the Docker container logs:

This is running against `mikenye/piaware:latest`, a.k.a. `mikenye/piaware:v7.2`. I was able to workaround by downgrading to `mikenye/piaware:v7.1`.

[2022-03-31 20:55] joshsmithy commented on #123
My logs echo the same:

[beast-splitter] 2022/03/31 20:53:41 net(readsb:30005): connected to a Beast-style receiver
[piaware] 2022/03/31 20:53:41 no ADS-B data program seen listening on port 30005 for 3 seconds, next check in 60s
[piaware] 2022/03/31 20:53:41 UAT support disabled by local configuration setting: uat-receiver-type
./run: line 87:   393 Illegal instruction     (core dumped) "${DUMP10

[2022-04-01 02:34] mikenye commented on #123
Hi @joshsmithy & @courtarro,

I'm sorry you're having problems. In order to troubleshoot this, I need some information from your hosts. Could you please both paste the output of `lscpu`?

Could I please ask that you also try the following:

In your docker-compose.yml file, you can add the following directive to your piaware container configuration (I usually place this directly below `image:`):

[

[2022-04-01 03:17] courtarro commented on #123
I'm not in a place where I'm ready to run the test build at the moment, but I'm running on an AMD Epyc (Milan generation) inside a Qemu/KVM VM. Here is the output of `lscpu`:

[code]

[2022-04-01 03:18] mikenye commented on #123
Thanks @courtarro

[2022-04-01 03:55] mikenye commented on #123
Possible continuation of #79

[2022-04-10 16:35] joshsmithy commented on #123
Using the image: mikenye/piaware:latest_i386 resolves all my issues.

[2022-04-10 16:53] joshsmithy commented on #123
Hi Mike,

Apologies for my delay in responding.

I was in a position to test this out this afternoon and I can confirm that after following your instructions, everyting is working well. Hence, it would seem that your hunch regarding CPU optimisation may be correct.

I am running a very similar environment to @courtarro, using an intel processor and Qemu/KVM Environment.

[2022-04-11 01:28] #123 closed

[2022-04-11 01:31] mikenye commented on #123
Hi All,

With @wiedehopf's help, we managed to trace this back to compiler optimisations in limesdr.

I've hopefully fixed this issue now, and would appreciate if you could test once the deploy finishes: https://github.com/sdr-enthusiasts/docker-piaware/actions/runs/2145774266

Thanks for your patience.

[2022-04-11 10:00] joshsmithy commented on #123
Hi Mike,

I have just rebuilt using the ghcr.io/sdr-enthusiasts/docker-piaware:latest image and all is working successfully.

Thanks for resolving this.

Josh

[2022-04-11 21:47] mikenye commented on #123
Fantastic! Thanks for letting me know.

[2022-04-21 10:34] SketchCND opened #129 "MLAT in relay mode #89 - error in implementation"
### Closed issue " #MLAT in relay mode #89" has a bug in the implementation

The implemented code references "MLAT_RESULTS_BEASTHOST" where it should reference "MLAT_RESULTS_BEASTPORT". This causes issue if the MLAT_RESULTS_BEASTPORT environment variable is set. When not the default port of 30104 is used as intended.

### Part of my docker-compose and the relevant log from the piaware container

[

[2022-04-22 06:54] #129 closed

[2022-04-25 09:10] SketchCND opened #131 "MLAT with docker-piaware using docker-readsb-protobuf not working(?)"
I'm using  docker-readsb-protobuf, docker-piaware and other SDR Enthusiasts feeders and am unable to get MLAT working. I've followed the readmes and have also tried using themlathub method but none seem to work. Co-ordinates are set accuratley. I'm in a very populated area with lots of air traffic (near LHR airport) and would expect to synchronization with quite a few MLAT sites.

### My setup:

R

[2022-08-05 08:06] bartgrefte opened #133 "support for SSL-/-TLS certificates"
Just out of curiosity, why doesn't there seem to be support for SSL-/TLS-certificates?

I have yet to find even óne docker container for ADS-B where the webinterface to display the flights can be used with those.

Consider this a request to implement support for usage of certificates.

[2022-08-22 14:13] SketchCND commented on #131
Eventually upgraded my RPi3B+ to a RPi4B and MLAT is now running with the same software configuration

[2022-08-31 00:19] needs-coffee commented on #133
@bartgrefte - The typical and appropriate method to achieve TLS for docker containers is to use a webserver as reverse proxy such as nginx/traefik/caddy and proxy the connection to the container. You can do this within the same docker network and only expose the webserver container.

As these are established and tested webservers they are usually better performing and more secure at implementing T

[2022-09-14 10:29] bartgrefte commented on #133
@needs-coffee I am aware of that, unfortunately, I have yet to find a pre-made reverse proxy container (like Nginx Proxy Manager) that supports adding pre-existing certificates through command line.

Right now I've set up an Apache webserver and manually configured that to function as a reverse proxy, where I can use my own pre-existing certificates. Not quite user-friendly, fortunately I have wor

[2022-09-14 16:31] needs-coffee commented on #133
I use nginx but i dont use nginx proxy manager - i just edit the config files directly, more portable.
If you use docker compose you can add this
[code]

and in the docker-compose directory - `./config/default.conf`
[code]

Certs are added in a certs in the docker-compose folder  with your chain, key and root ca
I use nginx on the host not in a container though so i can proxy non docker connection

[2022-10-17 10:43] JayBraker opened #134 "Issues with setting up external adsb receiver"
Hi, I have dump1090 (not dump1090fa) running on the host, exposing its interface to 0.0.0.0:30002
Installed this container with
[code]
Which makes the feed available on host host.docker.internal:30002
However piaware does not ingest, writing "framing errors seen, is the peer sending Beast binary data?" to the log.
I assume faupload1090 (gets mentioned in the logs, unfortunately not at all document